@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Brush+Script&display=swap');
*{
    font-family: 'Gugi', sans-serif;
}
#container {
    width: 960px;
    border: 1px solid #ddd;
    margin: 10px 0 auto; /* 요소 가운데 정렬*/
}
nav ul{
    text-align:center;
    list-style-position: inside;
    list-style: none;
}
nav ul li{
    display: inline-block;
    /* box-sizing: border-box; */
    padding : 10px;
    border-bottom: 2px solid red;
    /* border: none; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    /* margin: 10px; */
    /* padding-top: 42px; */
    /* box-shadow: 0px 2px 0px 2px blue; */
}
nav a{
    color: #000;
    text-decoration: none;
}
h1, footer{
    font-style: italic;
}
h3{
    color: blue;
    text-shadow: 0px 5px 3px yellowgreen;
}
p{
    font-size: 20px;
    line-height: 40px;
    font-family: 'Nanum Brush Script', cursive;
}
.redText{
    color: red;
}
.boldText{
    font-weight: bold;
}
aside img{
    width: 150px;
    height: 200px;
}